<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SLProject2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
   <description></description>
    <display-name>addClass</display-name>
    <servlet-name>addClass</servlet-name>
    <servlet-class>com.Servlet.addClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addClass</servlet-name>
    <url-pattern>/addClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudent</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.Servlet.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSubject</display-name>
    <servlet-name>AddSubject</servlet-name>
    <servlet-class>com.Servlet.AddSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSubject</servlet-name>
    <url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTeacher</display-name>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>com.Servlet.AddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignStudent</display-name>
    <servlet-name>AssignStudent</servlet-name>
    <servlet-class>com.Servlet.AssignStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignStudent</servlet-name>
    <url-pattern>/AssignStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignSubject</display-name>
    <servlet-name>AssignSubject</servlet-name>
    <servlet-class>com.Servlet.AssignSubject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignSubject</servlet-name>
    <url-pattern>/AssignSubject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTeacher</display-name>
    <servlet-name>AssignTeacher</servlet-name>
    <servlet-class>com.Servlet.AssignTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTeacher</servlet-name>
    <url-pattern>/AssignTeacher</url-pattern>
  </servlet-mapping>
</web-app>